.about-container {
    gap: 2rem;
}

.about-container img {
    border-radius: 5px;
}

.about-article h1 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
}

@media (min-width: 1024px) {
    .about-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
