#footer {
    width: 100%;
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    padding: 4rem 0;
    font-weight: var(--fw-fine);
}

.footer-container a:hover {
    color: hsl(170, 75%, 41%);
}

.footer-container {
    display: grid;
    gap: 2rem;
    padding: 0 1rem;
}

.footer-contact {
    display: grid;
    gap: 1rem;
}

.flex {
    display: flex;
    gap: 1rem;
}

.footer-logo h3,
.footer-logo {
    font-size: 2rem;
    width: fit-content;
}

.footer-menu {
}

.menu-title {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.menu-list {
    display: grid;
    gap: 1rem;
}

@media (min-width: 768px) {
    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
    }
} ;
