.slide {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.4);
    aspect-ratio: 21/9;
}

.slide-nav {
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.slide-nav button {
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
}

.slide-items {
    position: relative;
    grid-area: 1/1;
}

.slide-items > * {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

.slide-items li img {
    width: 100%;
    object-fit: cover;
}

.slide-items > .active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
}

.slide-thumb {
    display: flex;
    gap: 10px;
    grid-column: 1 / 3;
}

.slide-thumb span {
    flex: 1;
    display: block;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    margin: 5px;
    overflow: hidden;
}

.slide-thumb > span.active::after {
    content: "";
    display: block;
    height: inherit;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    transform: translateX(-100%);
    animation: thumb 10s forwards linear;
}

@keyframes thumb {
    to {
        transform: initial;
    }
}
