<div class="footer-container">
    <article class="footer-contact">
        <a href="./" class="footer-logo"><h3>Logo</h3></a>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil in
            laboriosam eum. Veniam quo omnis delectus ex.
        </p>
        <address>
            Av. XV de Novembro, 170 - Zona 01, Maringá - PR, 87013-230
        </address>
        <div class="flex">
            <p>E-mail:</p>
            <a href="mailto:test@gmail.com">teste@gmail.com</a>
        </div>
        <div class="flex">
            <p>Tlefone:</p>
            <a href="tel:+5544987654123">(99) 9999-9999</a>
        </div>
    </article>
    <menu class="footer-menu">
        <h3 class="menu-title">LINKS</h3>
        <ul class="menu-list">
            <li><a href="#">Entre em contato</a></li>
            <li><a href="#">Galeria</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </menu>
</div>
