<a href="./">
    <h1>Logo</h1>
</a>
<div class="overlay"></div>
<nav>
    <ul>
        <li><a href="./">HOME</a></li>
        <li>
            <a href="./quemSomos.html">QUEM SOMOS</a>
        </li>
        <li><a href="./contato.html">CONTATO</a></li>
        <li>
            <a href="./financiamento.html">FINANCIAMENTO</a>
        </li>
    </ul>
    <button id="btn-close">
        <img src="./images/icon-menu-close.svg" alt="Fechar menu" />
    </button>
</nav>
<button id="btn-open">
    <img src="./images/icon-menu.svg" alt="Abrir menu" />
</button>
